<div  class="col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10 footer">
    <div class="footer-left">
        <div class="footer-company">
            <a class="footer-company-logo" href="#"><img  src="resource/logo.png"/></a>
            <a class="footer-company-brand" href="#">Nikon Photo Store</a>
            <div class="footer-company-address">
                <p>60 Anson Road, #09-01 Mapletree Anson
                Singapore 079914</p>
                <p>Operating Hours :</p> 
                <p>Mon - Fri: 9am - 5:30pm</p>
            </div>
        </div>
        
        <p class="footer-links">
            <a href="#aboutus">&bull; About Us</a>
            <a href="#dslrs">&bull; DSLRs</a>
            <a href="#pointandshoots">&bull; Point-and-Shoots</a>
            <a href="#lenses">&bull; Lenses</a>
            <a href="#binoculars">&bull; Binoculars</a>
            <a href="#photogallery">&bull; Photo Gallery</a>
        </p>
        
    </div>
    
    <div class="footer-right">
        <p>Contact Us</p>
        <form action="#" method="post">
            <input type="text" name="email" placeholder="Email" />
            <textarea name="message" placeholder="Message"></textarea>
            <button>Submit</button>
        </form>
    </div>
    
    <div class="footer-copyright">
        <p>&copy;2017 Nkion Photo Store - Joseph Cheng</p>
    </div>
</div>